{% extends 'pawgoapp/base.html' %} {% block content %}
<a href="{% url 'topup' %}">Top-up Balance</a>
<h1>Dobrodošli na PawGO!</h1>

<p class="homepar">
  PawGO je vaša najbolja destinacija za sve što vam je potrebno kako biste
  osigurali sretno i zdravo šetanje vašeg ljubimca. Naša strast je briga o vašim
  četveronožnim prijateljima i stvaranje iskustava koja će njihove repove držati
  u pokretu.
</p>

<div class="service">
  <h2>Naše usluge:</h2>
  <div class="service-element">
    <strong>Pronađite Pouzdanog Šetača:</strong> PawGO povezuje vlasnike
    ljubimaca s iskusnim i odabranim šetačima. Pronađite savršenu osobu koja će
    pružiti ljubav i pažnju vašem ljubimcu.
  </div>
  <div class="service-element">
    <strong>Objavite Posao:</strong> Ako ste strastveni o šetanju pasa,
    pridružite se našoj zajednici šetača. Objavite svoj profil i pronađite divne
    pse kojima možete pružiti sretno iskustvo šetnje.
  </div>
  <div class="service-element">
    <strong>Povežite se s Ostalim Vlasnicima:</strong> Razmjenjujte iskustva,
    savjete i slike s drugim vlasnicima ljubimaca. Gradimo zajednicu
    zaljubljenika u pse!
  </div>
</div>

<div class="why-choose">
  <h2>Zašto odabrati PawGO?</h2>
  <div class="why-choose-element">
    <strong>Sigurnost i Pouzdanost:</strong> Svi naši šetači prolaze kroz
    temeljan postupak odabira kako bismo osigurali sigurnost vaših ljubimaca.
  </div>
  <div class="why-choose-element">
    <strong>Jednostavno i Prijateljski:</strong> Naša platforma je jednostavna
    za korištenje, s prijateljskim sučeljem koje omogućuje lako povezivanje
    vlasnika i šetača.
  </div>
</div>
<hr />
<div class="finish">
  <strong
    >PawGO je više od aplikacije – to je zajednica ljubitelja pasa koja vam
    omogućuje da osigurate sretno i zdravo iskustvo šetnje za svog ljubimca. Bez
    obzira jeste li vlasnik psa koji treba redovite šetnje ili strastveni šetač
    željan pomoći, PawGO je savršeno mjesto za povezivanje.</strong
  >
</div>

<p class="homepar">
  Pridružite se PawGO zajednici danas i osigurajte da vaš ljubimac ima najbolje
  iskustvo šetnje ikada! Hvala vam što ste odabrali PawGO.
</p>

{% endblock content %}
